@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;900&display=swap");

*,
*:hover,
*:active,
*:focus {
  box-sizing: border-box;
}

html {
  font-size: 63%;
  background: var(--color-white);
}
.img {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

/* Color Pallete */

:root {
  --color-primary: #252525;
  --color-secondary: rgba(231, 226, 226, 0.7);
  --color-accent: #f9b;
  --color-white: #fff;
  /* --color-primary: #fff;
  --color-secondary: rgba(114, 56, 56, 0.7);
  --color-accent: rgb(146, 25, 25);
  --color-white: #252525; */

  --font-worksans: "Work Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Typography */

body {
  text-align: center;
  font-family: var(--font-roboto);
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.6rem;
  margin-bottom: 0;
}
.small-text {
  font-size: 1.6rem;
  margin: 0;
}
.big-text {
  font-size: 8rem;
  font-weight: 600;
  display: block;
}
.accent-text {
  color: var(--color-accent);
  font-weight: 600;
}
.black {
  color: var(--color-primary);
}
h2 .accent-text,
h3 .accent-text {
  font-size: 6rem;
}
.weight900 {
  font-weight: 900;
}

/* Links */

a {
  text-decoration: none;
}
.link-primary {
  color: var(--color-accent);
  font-weight: 900;
}
.link:active,
.link:hover,
.link:focus {
  color: #fff;
}
/* Lists */
.list {
  list-style: none;
}
/* Icons */
.icon {
  width: 50px;
  height: 50px;
}
.icon--secondary {
  fill: var(--color-secondary);
}
.icon--white {
  fill: var(--color-white);
  opacity: 0.8;
  transition: opacity 0.3s;
}
.icon--white:hover {
  opacity: 1;
}

.icon--black {
  fill: black;
}
.icon--small {
  width: 40px;
  height: 40px;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
}
.icon-direct {
  margin-right: 2rem;
}

.nav .icon-container {
  justify-content: flex-start;
}

@media screen and (min-width: 1319px) {
  .icon-container {
    align-items: center;
  }
}
/* Blocks */

.block {
  --vertical-padding: 10rem;
  padding-bottom: var(--vertical-padding);
  padding-top: var(--vertical-padding);
}

.block-primary {
  background: var(--color-white);
  color: #555;
}

.block-secondary {
  background: var(--color-secondary);
}

.block--skewed-topright {
  clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 90%);
  padding-top: calc(var(--vertical-padding) + 4rem);
}
.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: calc(var(--vertical-padding) + 4rem);
}
/* Collapsible */

.collapsible--content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}
.collapsible--expanded .collapsible--content {
  max-height: 100vh;
  opacity: 1;
}

/* Grid */
.grid {
  display: grid;
}
.grid-1x2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Hero */
.hero {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero__greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 4px;
  line-height: 1.18;
}
.hero__img-wrapper {
  justify-self: center;
}
.hero-img {
  border-radius: 100%;
  border: 5px solid var(--color-accent);
  width: 100%;
}
.jobtitle-container {
  margin: 2rem 0 0.4rem 0;
  font-weight: bold;
  padding: 2rem 0;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
}
.jobtitle {
  margin: 0;
  font-weight: bolder;
  font-size: 3.9rem;
}

@media screen and (min-width: 800px) {
  .hero__img-wrapper {
    width: 400px;
    order: 1;
  }
  .hero {
    display: grid;
    grid-template-columns: 65% 35%;
  }
  .hero__greeting {
    text-align: left;
    align-items: flex-start;
  }
  .jobtitle {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1365px) {
  .hero__img-wrapper {
    width: 300px;
  }
}
@media screen and (max-width: 1080px) {
  .hero__img-wrapper {
    width: 200px;
  }
}
/* Nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2.8rem;
  padding: 1rem 0;
  max-width: 1440px;
  margin: 0 auto;
}
.nav__background {
  background: var(--color-white);
  position: fixed;
  z-index: 999999;
  width: 100%;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}
.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-left: -4px;
}
.nav-item {
  margin: 0.7rem 5rem;
}
.nav-item a {
  color: black;
  opacity: 0.7;
  cursor: pointer;
  font-weight: 500;
  padding: 1rem 0;
  transition: all 0.2s ease-out;
}
.nav-item a:hover {
  opacity: 1;
  border-bottom: 3px solid var(--color-accent);
}

.nav .icon-container {
  text-align: center;
}
.nav .icon-container a {
  margin: 1rem;
}
.nav__toggle {
  fill: black;
  cursor: pointer;
  width: 45px;
  height: 45px;
  margin: 5px;
  opacity: 0.4;
  transition: all 0.15s;
}
.nav__toggle:hover,
.nav__toggle:focus {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  opacity: 1;
}
.nav-brand {
  font-size: 3.5rem;
  letter-spacing: 1.1px;
  font-family: var(--font-worksans);
  font-weight: 600;
  color: var(--color-accent);
  cursor: pointer;
  margin-left: 1rem;
}

@media screen and (min-width: 800px) {
  .nav {
    flex-wrap: nowrap;
    font-size: 2rem;
  }
  .nav-list {
    width: auto;
    opacity: 1;
    max-height: 100vh;
  }
  .nav-item {
    font-size: 1.8rem;
  }
  .nav__toggle {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
  }
  .nav-brand {
    font-size: 3rem;
  }
  .nav .icon-container a {
    margin-right: 3rem;
  }
}
/* About Me Block*/
.aboutme-header {
  opacity: 0.9;
  color: var(--color-accent);
}
.clickable {
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.7;
}
.clickable:hover,
.clickable:active {
  opacity: 1;
  color: var(--color-white);
  border-bottom: 3px solid var(--color-accent);
}

/* Heading */

.heading-border {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 3rem 0;
  margin-bottom: 3rem;
}
/* Buttons */

.btn {
  padding: 2rem 2.5rem;
  margin-top: 1rem;
  border: none;
  background: rgba(0, 0, 0, 0);
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.15s ease-in;
  letter-spacing: 1px;
}

.btn--primary {
  color: var(--color-white);
  background: var(--color-primary);
  text-transform: uppercase;
  border-radius: 30px;
}
.btn--small {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}
.btn--outline {
  color: var(--color-white);
  background: var(--color-primary);
}
.btn--outline:hover {
  color: var(--color-primary);
  background: var(--color-accent);
}

.btn--primary:hover,
.btn--primary:focus {
  color: var(--color-primary);
  background: rgba(255, 255, 255, 0);
  border: 3px solid var(--color-primary);
}

.block-primary .btn-primary:hover {
  color: var(--color-primary);
  background: var(--color-white);
}

/* Block Projects */
.projectContainer .project:nth-of-type(odd) {
  background: var(--color-secondary);
}
.project {
  padding: 2rem;
}
.project-title {
  font-weight: bold;
  color: var(--color-accent);
}
.project-type {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 2rem;
}

/* Modal */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: 50%;
  position: fixed;
  top: 30%;
  right: 50%;
  transform: translateX(50%);
}
.modal-primary {
  background: var(--color-primary);
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
}

/* Overlay */

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(231, 226, 226, 0.8);
  transition: all 0.5s ease-in;
}

/* Input */

.input {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.input-group .input {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}
.input-cancel {
  cursor: pointer;
  opacity: 0.7;
  font-size: 1.5rem;
}
.input-cancel:hover,
.input-cancel:focus {
  opacity: 1;
}
/* Video */
.video-video {
  width: 100%;
  height: 48vh;
}
/* Carousel */

.carousel {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
}
.carousel-item {
  display: none;
}
.carousel-item-hidden {
  display: none;
}
.carousel-item-visible {
  display: block;
  animation: fadeVisibility 2s;
}
.carousel-item img {
  max-width: 100%;
  height: auto;
}
.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-actions button {
  margin: 1rem;
  background: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  font-weight: bold;
  height: 50px;
}
.carousel-actions button:hover {
  opacity: 0.8;
}
.carousel .carousel-indicators {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translateY(-100%);
}
.carousel-indicators div {
  opacity: 0.6;
  margin: 2px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.carousel-indicators .active-slide {
  opacity: 1;
}
.carousel-pause-play {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 10px;
  transform: translateY(-100%);
  justify-content: flex-end;
}

.fa-play,
.fa-pause {
  cursor: pointer;
}

/* Dice Game */

.players {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dice {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: var(--color-3);
  margin: 0 auto;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline: none;
}
.dice-btns {
  display: flex;
  justify-content: center;
}

#resetBtn {
  display: none;
}
#mayhem {
  display: none;
  background: var(--color-accent);
  margin-bottom: 1rem;
}
#mayhemDesc {
  display: none;
}
#mayhemDesc h2,
#mayhemDesc p {
  font-size: 1.5rem;
}
.active-player {
  box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
}

/* Invoice Creator */

.invoice-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  color: var(--color-white);
  height: 20vh;
}
.headerHeading {
  margin-top: 4rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 38px;
  /* identical to box height, or 173% */

  text-align: center;
  letter-spacing: -0.05em;
}
#unitInput {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  line-height: 24px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  border: none;
  color: var(--color-white);
}
#unitInput::placeholder {
  color: var(--color-white);
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--color-white);
  color: black;
  height: 50vh;
}
.conversionGroup {
  letter-spacing: 2px;
}
.conversionHeader {
  text-align: center;
}
/* Color Generator */
.pageTitle {
  text-align: center;
  font-size: 3rem;
}
.colorGenerator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.colorSchemeWrapper {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 550px;
}

/* Top Portion */
.topPortion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  width: 100%;
}
.topItem {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
#colorWheel {
  height: 4rem;
}

#colorTheme {
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
}
#generateColors {
  padding: 1rem;
  border: none;
  background-color: #808080;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .topPortion {
    flex-direction: row;
    width: 70rem;
  }
  .topItem {
    margin: 0.5rem 2rem;
  }
  #colorWheel {
    width: 9rem;
  }
}

.colorFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Middle Portion */

.colorVisual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  width: 100%;
}
.colorLabels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
}
.color {
  padding: 2.4rem 0;
  width: 110px;
  font-size: 1.2rem;
  margin: 3rem;
  border-radius: 5%;
  border: 2px solid silver;
}
.colorLabel {
  background: silver;
  margin: 3rem 3rem;
  padding: 1rem 3rem;
  border-radius: 10%;
}

/* Bottom Portion */

@media screen and (min-width: 768px) {
  .color {
    height: 50rem;
    border-radius: 2%;
  }
  .colorFlex {
    flex-direction: column;
  }
  .colorLabels {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 2.8rem;
  }
  .colorVisual {
    flex-direction: row;
  }
  .colorLabel {
    padding: 0.8rem 2rem;
  }
}

/* Movie Finder */
.movieFinder {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  width: 700px;
  max-height: 900px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  font-size: 14px;
  background: #e9eaec;
}

/* Hero */
.hero {
  position: relative;
  background: rgba(0, 0, 0, 0.73);
  color: white;
  height: 208px;
  width: 100%;
  display: flex;
}
.hero-heading {
  position: absolute;
  top: 50px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.hero-title {
  font-weight: 800;
  font-size: 38px;
  margin-bottom: 0.7rem;
}
.hero-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 21%;
}

.hero-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.hero-link__margin {
  margin-top: 0.9rem;
  margin-right: 1.2rem;
}
.hero-link:hover {
  opacity: 0.8;
}
@media screen and (min-width: 741px) {
  .hero-heading {
    flex-direction: row;
    left: 10px;
    top: 30px;
  }
  .hero-title {
    margin: 2rem;
    font-size: 4rem;
  }
  .hero-link {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1230px) {
  .hero-heading {
    position: relative;
    width: 1120px;
    margin: 0 auto;
  }
}

/* Input Group */
#searchBar {
  border: none;
}
.MF-input-group {
  border: 1px solid #d1d5db;
  width: 300px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.MF-input-group input {
  flex-grow: 1;
  height: 100%;
  padding: 0 0.5rem;
  outline: none;
  color: #6b7280;
  margin: 0 8px;
}
.MF-input-group .fa-search {
  color: black;
  opacity: 0.6;
  margin-left: 1rem;
  cursor: pointer;
}
.MF-input-group .MF-btn {
  height: 100%;
  width: 128px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (min-width: 440px) {
  .MF-input-group {
    width: 435px;
  }
}

/* Content Body */
.content-body {
  position: relative;
  height: 100vh;
  margin-left: -12rem;
  margin-top: 4rem;
}
#noData {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 58%;
  transform: translateX(-50%);
  opacity: 0.2;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
#noData .fa-film {
  display: block;
}
#noData p {
  margin: 0;
}
#noData a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading {
  width: 200px;
}

/* Movie Block */
.movie-container {
  display: flex;
  justify-content: row;
  border-bottom: 1px solid #6b7280;
  margin: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.movie-header {
  display: flex;
  align-items: center;
}
.movie-header .fa-star {
  margin: 0 0.3rem 0 0.6rem;
  margin-top: 0.8rem;
  color: gold;
}
.movie-content {
  margin-left: 1rem;
}
.movie-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-tag {
  margin-right: 0.2rem;
}
.movie-desc {
  color: #6b7280;
}

.movie-img {
  width: 100px;
  height: 170px;
}
.watchlist-add {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.watchlist-add .fa-plus {
  margin-top: 0.8rem;
}
.watchlist-add p {
  margin-left: 0.5rem;
}
.watchlist-add:hover {
  color: gold;
}
@media screen and (min-width: 800px) {
  .movie-tags {
    width: 463px;
  }
}

/* Utility Classes */

.clear__bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
.container {
  max-width: 450px;
  margin: 0 auto;
}
@media screen and (min-width: 1040px) {
  .container {
    max-width: 1040px;
  }
}

/* Keyframes */

@keyframes fadeVisibility {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
