@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

*,
*:hover,
*:active,
*:focus {
  box-sizing: border-box;
}

html {
  font-size: 63%;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 1rem;
}
/* Color Pallete */

:root {
  --color-primary: #252525;
  --color-secondary: rgba(231, 226, 226, 0.7);
  --color-accent: #99d930;
}

/* Typography */

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.2rem;
}
h3 {
  font-size: 3.6rem;
  margin-bottom: 0;
}
.small-text {
  font-size: 1.6rem;
  margin: 0;
}
.big-text {
  font-size: 8rem;
  font-weight: 600;
  display: block;
}
.accent-text {
  color: var(--color-accent);
  font-weight: 600;
}
h2 .accent-text,
h3 .accent-text {
  font-size: 6rem;
}
.weight900 {
  font-weight: 900;
}

/* Links */

a {
  text-decoration: none;
}
.link-primary {
  color: var(--color-accent);
  font-weight: 900;
}
.link:active,
.link:hover,
.link:focus {
  color: #fff;
}
/* Lists */
.list {
  list-style: none;
}

/* Blocks */

.block {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.block-primary {
  background: var(--color-primary);
  color: #fff;
}

.block-secondary {
  background: var(--color-secondary);
}
/* Nav bar */
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.nav-item {
  width: 100%;
}
.nav-item {
  background: var(--color-accent);
}

/* Heading */

.heading-border {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 3rem 0;
  margin-bottom: 3rem;
}
/* Buttons */

.btn {
  padding: 2rem 2.5rem;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
}
.btn-search {
  cursor: pointer;
}

.btn-primary {
  color: (var(--color-primary));
  background: var(--color-accent);
  text-transform: uppercase;
}
.btn-small {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}
.btn-outline {
  color: white;
  background: var(--color-primary);
  border: 3px solid var(--color-accent);
}
.btn-outline:hover {
  color: var(--color-primary);
  background: var(--color-accent);
}

.btn-primary:hover,
.btn-primary:focus {
  color: white;
  background: var(--color-primary);
  border: 3px solid var(--color-accent);
}

.block-primary .btn-primary:hover {
  color: var(--color-primary);
  background: #fff;
}

/* Block Projects */

/* Modal */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  top: 15%;
}
.modal-primary {
  background: var(--color-primary);
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
}

/* Overlay */

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(231, 226, 226, 0.8);
  transition: all 0.5s ease-in;
}

/* Input */

.input {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.input-group .input {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}
